<a
  class="items-center h-12 justify-center rounded-full font-semibold duration-200 focus:outline-none inline-flex px-6 py-3 text-center w-full border-2
  bg-sunset-mango border-sunset-mango text-sunset-roasted
  hover:bg-transparent hover:text-sunset-mango hover:border-sunset-mango
  focus-visible:outline-sunset-mango focus-visible:ring-sunset-mango
  lg:w-auto cursor-pointer"
  href="javascript:void(0);"
  onclick="togglePopout()"
>
  Donate Now
</a>

<!-- Popout Container -->
<div
  id="popout"
  class="hidden absolute bg-white border-2 border-sunset-mango rounded-lg p-6 shadow-xl top-16 left-1/2 transform -translate-x-1/2 w-80 z-50 transition-transform duration-300 ease-in-out opacity-0 scale-95 hover:scale-100"
>
  <h3 class="text-xl font-semibold mb-4 text-center text-sunset-mango">
    Select Your Region
  </h3>
  <ul class="space-y-3">
    <li>
      <a
        href="https://docs.google.com/forms/d/1L_nhnbvTBB45Qf8xFhshNAeAQcJdfxDFTV7VAQxg4hw/edit?usp=drivesdk"
        target="_blank"
        class="text-sunset-mango hover:text-sunset-roasted font-semibold transition duration-300 ease-in-out hover:scale-105"
        >USA</a
      >
    </li>
    <li>
      <a
        href="https://docs.google.com/forms/d/1HVTOO09kkPhFHITmIkH2LD1J3l6wT2scoHzj9tI0S34/edit?usp=drivesdk"
        target="_blank"
        class="text-sunset-mango hover:text-sunset-roasted font-semibold transition duration-300 ease-in-out hover:scale-105"
        >UK</a
      >
    </li>
    <li>
      <a
        href="https://docs.google.com/forms/d/1ocIbHjxRoN43fWHutDJD88SkqpHkxmnkwLRoCvZ9y-w/edit?usp=drivesdk"
        target="_blank"
        class="text-sunset-mango hover:text-sunset-roasted font-semibold transition duration-300 ease-in-out hover:scale-105"
        >Thailand</a
      >
    </li>
    <li>
      <a
        href="https://docs.google.com/forms/d/1sg3goA11dwgLCAetavsjP1xP_euoHhTynlHelDVsU1Y/edit?usp=drivesdk"
        target="_blank"
        class="text-sunset-mango hover:text-sunset-roasted font-semibold transition duration-300 ease-in-out hover:scale-105"
        >Malaysia</a
      >
    </li>
  </ul>
</div>

<!-- Script for handling popout visibility -->
<script is:inline>
  function togglePopout() {
    var popout = document.getElementById("popout");
    // Check if the popout element exists
    if (popout) {
      // Toggle the visibility of the popout container
      popout.classList.toggle("hidden");
      // Optionally, apply animations for entrance/exit
      popout.classList.toggle("opacity-100");
      popout.classList.toggle("scale-100");
    }
  }
</script>
