<main class="relative overflow-hidden">
  <div class="relative mx-auto px-8 max-w-7xl py-24 md:px-12">
    <div class="mx-auto text-center">
      <h1
        class="text-sunset-roasted font-bold md:text-6xl text-3xl tracking-tight"
      >
        Fund With 25
      </h1>
      <p class="mt-8 text-sunset-earthwood">
        Buy Digital Image, and Fund For The EarthQuake
      </p>
      <div class="flex justify-center flex-col gap-3 mt-10 sm:flex-row">
        <a
          class="items-center h-12 justify-center rounded-full font-semibold duration-200 focus:outline-none inline-flex px-6 py-3 text-center w-full border-2
  bg-sunset-mango border-sunset-mango text-sunset-roasted
  hover:bg-transparent hover:text-sunset-mango hover:border-sunset-mango
  focus-visible:outline-sunset-mango focus-visible:ring-sunset-mango
  lg:w-auto"
          href="https://www.instagram.com/erikfilmsxo?igsh=MW5oMGk4aGQ5Z3hnYg%3D%3D"
        >
          Artist Info &nbsp; →
        </a>
      </div>
    </div>
  </div>
</main>
