---
import products from "./products.json";
---

<main>
  <div class="relative mx-auto px-8 max-w-7xl py-12 md:px-12">
    <div class="grid grid-cols-1 gap-8 lg:gap-y-32 md:grid-cols-2">
      {
        products.map((product) => (
          <figure>
            <img
              class="w-full rounded-3xl shadow-2xl"
              src={`photo_resized/${product.id}.png`}
              alt=""
              width="1310"
              height="873"
            />
            <div class="mt-4 flex justify-between px-6">
              <div>
                <h3 class="text-sm text-sunset-roasted">
                  <a href="#">
                    <span aria-hidden="true" class="absolute inset-0" />
                    {product.artist}
                  </a>
                </h3>
                <p class="mt-1 text-lg font-medium leading-6 text-sunset-goldmine">
                  {product.title}
                </p>
              </div>
              <p class="text-base text-red-500">{product.id}</p>
            </div>
          </figure>
        ))
      }
    </div>
  </div>
</main>
