@import "tailwindcss";

@theme {
  /* Sunset Gold (Custom Palette) */
  --color-sunset-sunbeam: #ffffe9; /* BG */
  --color-sunset-mango: #ffb114; /* Buttons, highlights */
  --color-sunset-goldmine: #df9c16; /* UI accents */
  --color-sunset-earthwood: #936c1c; /* Secondary text */
  --color-sunset-roasted: #493737; /* Primary text */
}

@font-face {
  font-family: "Nohemi";
  src: url("/font/Nohemi-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nohemi";
  src: url("/font/Nohemi-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Nohemi";
  src: url("/font/Nohemi-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Nohemi";
  src: url("/font/Nohemi-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Nohemi";
  src: url("/font/Nohemi-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

:root {
  /* Typography */
  font-feature-settings: "liga" 1, "calt" 1, "dlig" 1, "ss07" 1, "ss08" 1,
    "zero" 1, "tnum" 1, "cv03" 1, "cv04" 1, "cv01" 1, "cv09", "cv02" 1;
  font-family: Nohemi, sans-serif;
  font-variant-numeric: tabular-nums;
}
